<!-- this is to create a navigation bar at the top of the page -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <!--this is to link the add game page page, for smoother navigation -->
    <a class="nav-link" href="add">Add Game</a>
  </li>
  <li class="nav-item">
    <!--this is to link the year made graph, for smoother navigation -->
    <a class="nav-link" href="yearmade">Year Made Bar Chart</a>
  </li>
  <li class="nav-item">
    <!--this is to link the genre graph, for smoother navigation -->
    <a class="nav-link" href="genre">Genre Pie Chart</a>
  </li>
  <li class="nav-item">
    <!--this is to link the studio graph, for smoother navigation -->
    <a class="nav-link" href="studio">Studio Polar Area Chart</a>
  </li>
  <li class="nav-item">
    <!--this is to link the country graph, for smoother navigation -->
    <a class="nav-link" href="country">Country Radar Chart</a>
  </li>
  <li class="nav-item">
    <!--this is to link the launch price graph, for smoother navigation -->
    <a class="nav-link" href="launchprice">Launch Price Line Chart</a>
  </li>
</ul>
