<!DOCTYPE html>
<html lang="en">
  <!--Include the head-->

  <%- include ("./partials/head.ejs") %>

  <body>
    <!--Include the nav-->
    <%- include ("./partials/nav.ejs") %>
    <div class="card w-25 mx-auto">
      <div class="card-body text-center">
        <h1 class="titleChart">Games by Genre</h1>
        <!--canvas tag for chart .js-->
        <canvas id="myChart"></canvas>
        <!--Include the footer-->
        <%- include ("./partials/footer.ejs") %>
      </div>
    </div>
    <script>
      //fetch method using the app.get that returns all the data as JSON
      fetch("/games")
        .then((res) => res.json())
        .then((games) => {
          //using these arrays to display the data, one for the genre and one for how many times it shows up
          const genres = [];
          const counts = [];

          games.forEach((g) => {
            const genre = g.genre;
            let found = false;

            // check if genre already exists
            for (let i = 0; i < genres.length; i++) {
              if (genres[i] === genre) {
                counts[i]++;
                found = true;
                break;
              }
            }

            // if not found, add it
            if (!found) {
              genres.push(genre);
              counts.push(1);
            }
          });
          //this is to create a chart to display the data

          new Chart(myChart, {
            type: "pie",
            data: {
              labels: genres,
              datasets: [{ label: "Games per Genre", data: counts }],
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true,
                  ticks: {
                    //this is to make the step size go up by 1 whole number, before it was going in decinals

                    stepSize: 1,
                  },
                },
              },
            },
          });
        });
    </script>
  </body>
</html>
