body {
  background-color: rgb(173, 228, 248) !important;
}

a {
  text-decoration: none !important;
  color: white important;
}

.card {
  text-align: justify !important;
}

.nav {
  background-color: white;
  border-bottom: 8px !important;
}

.nav .nav-link {
  color: black !important;
}

.title {
  background-color: brown;
  padding-left: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 100px;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  font-style: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.addLbl {
  font-weight: bolder;
  font-size: 20px;
  font-style: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav .nav-link:hover {
  color: lightseagreen !important;
}
